@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  background: linear-gradient(120deg, #f6d365, #fda085);
}

.wrapper {
  max-width: 500px;
  padding: 2rem 2rem 1rem 2rem;
  margin: 0 auto;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

div,
span {
  font-size: 1.2rem;
}

.move {
  padding-right: 2rem;
}

.timedate {
  display: inline-block;
}

.current {
  margin-bottom: 10px;
}

.puzzle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: #685ed6;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 18px;
  margin-bottom: 0rem;
  color: #fff;
}
.puzzle .item {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  border-radius: 20px;
  color: #fff;
  font-size: 2rem;
  box-shadow: inset 1px 1px #fda085;
  transition: transform 0.2s;
  cursor: pointer;
}
.puzzle .item .itemVal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84%;
  height: 84%;
  margin: 8%;
  box-shadow: inset 0 0 0 2px #685ed6;
  border-radius: 15px;
}

.frame-size {
  margin-top: 10px;
}

.sizes {
  margin-top: 0.5rem;
}

.button {
  font-size: 1.6rem;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
  color: #fff;
  background: #000;
  cursor: pointer;
}

.wrapper-buttons {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.sizes a {
  color: #685ed6;
}
.sizes a:active {
  color: #685ed6;
}

.active {
  background: #685ed6;
}

.audio {
  display: inline-block;
  width: 50px;
  position: relative;
  top: 15px;
  height: 48px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  background: url(./../images/music.png) no-repeat;
}

.audio-turn-off {
  display: inline-block;
  width: 50px;
  position: relative;
  top: 15px;
  height: 48px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  background: url(./../images/music_not.png) no-repeat;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .wrapper {
    padding-bottom: 1rem;
  }
  .button {
    margin-top: 0.5rem;
  }
}
@media (pointer: fine) and (hover: hover) {
  .sizes a {
    color: #000;
  }
  .button:hover {
    background: #685ed6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
.win {
  z-index: 50;
  top: 33%;
  left: 33%;
  max-width: 33%;
  max-height: 33%;
  height: 100%;
  position: fixed;
  padding: 80px 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 18px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
}

.popup {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 600px) {
  .win {
    top: 30%;
    left: 25%;
    max-width: 50%;
    padding: 50px 5px;
  }
}
@media (max-width: 450px) {
  .win {
    top: 20%;
    max-height: 30%;
    padding: 50px 5px;
  }
}/*# sourceMappingURL=main.css.map */